<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Авторизация Telegram</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="MobileOptimized" content="176">
    <meta name="HandheldFriendly" content="True">
    <meta name="robots" content="noindex, nofollow">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet" type="text/css">
    <link href="https://telegram.org/css/bootstrap.min.css?3" rel="stylesheet">
    <link href="https://telegram.org/css/bootstrap-extra.css?2" rel="stylesheet">
    <link href="https://telegram.org/css/telegram.css?214" rel="stylesheet">
    <link href="https://oauth.telegram.org/css/oauth.css?14" rel="stylesheet">
</head>

<body class="">
<main class="login">
    <section class="login_content" id="login-container">
        <div class="login_photos">
            <span class="login_telegram_photo_wrap arrowed">
                <a id="user_link" target="_blank">
                    <img id="user_image" class="login_user_photo" img>
                </a>
            </span>
            <a href="https://u-with-me.education" target="_blank">
                <img class="login_bot_photo" src="https://u-with-me.education/logo512.png" img>
            </a>
        </div>
        <div class="login_header_text">
            Нажмите далее, чтобы привязать Telegram аккаунт
            <br>
            <a id="user_line" class="bot_name" dir="auto" target="_blank"></a>
            к вашему аккаунту
            <a class="bot_name" dir="auto" href="https://u-with-me.education" target="_blank">University With Me</a>
            <br>
            Если это не ваш Telegram аккаунт, пожалуйста, нажмите выйти
        </div>
        <div class="login_button_wrap">
            <button class="button-item button-item-flat ripple-handler" onclick="loginCancel()"
                    type="button">
                <span class="button-item-label">Выйти</span>
                <span class="ripple-mask"><span class="ripple"></span></span>
            </button>
            <button class="button-item ripple-handler" type="button" onclick="loginConfirm()">
                <span class="button-item-label">Далее</span>
                <span class="ripple-mask"><span class="ripple"></span></span>
            </button>
        </div>
    </section>
</main>

<script>

    function loginCancel() {
        deleteAllCookies();
        window.location.href = '/close';
    }

    function loginConfirm() {
        let xmlHttp = new XMLHttpRequest();
        xmlHttp.open("GET", "complete", false);
        xmlHttp.setRequestHeader("Authorization", "Bearer " + getCookie("authToken"))
        xmlHttp.send(null);
        deleteAllCookies();
        window.location.href = '/close?state=close';
    }

    document.getElementById('user_image').src = getCookie("photo_url");
    document.getElementById('user_link').href = "https://t.me/" + getCookie("username");
    document.getElementById('user_line').href = "https://t.me/" + getCookie("username");
    document.getElementById('user_line').textContent = getCookie("username");

    function getCookie(name) {
        const nameEQ = name + "=";
        const ca = document.cookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) === ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) === 0)
                return c.substring(nameEQ.length, c.length);
        }
        return null;
    }

    function deleteAllCookies() {
        let cookies = document.cookie.split(";");

        for (let i = 0; i < cookies.length; i++) {
            let cookie = cookies[i];
            let eqPos = cookie.indexOf("=");
            let name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
            document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
        }
    }
</script>
</body>
</html>