name: Main

on:
  push:
    branches: [ master ]

jobs:
  build-archive:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Grant execute permission for mvnw
        run: chmod +x mvnw
      - name: Package with Mavwn
        run: ./mvnw package
      - name: Archive artifacts
        uses: actions/upload-artifact@v2
        with:
          name: UWMBot
          path: ./target/UWMBot.jar
          retention-days: 1
  deploy:
    needs: build-archive
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    steps:
      - uses: actions/checkout@v2
      - name: Download artifact
        uses: actions/download-artifact@v2
        with:
          name: UWMBot
          path: ./UWMBot
      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_KEY }}
          known_hosts: ${{ secrets.KNOWN_HOSTS }}
      - name: Grant execute permission for deploy script
        run: chmod +x ./deploy.sh
      - name: Deploy
        run: ./deploy.sh